.header {
    height: 100vh;
}

.section-about {
    padding: 15rem 15rem 0 15rem;
}

.section-products {
    width: 100%;
    padding: 0rem 2rem 10rem 2rem;
}

.section-services {
    padding: 0 10rem 10rem 10rem;
}